body {
    font-family: sans-serif;
    background-color: aquamarine;
    text-align: center;

}

h1 {
    padding-top: 5rem;
    font-size: 3rem;
}

img {
    vertical-align: middle;
    width: 100px;
}

p {
    color: darkgray;

}

disqus_thread {
    margin: 2rem auto;
    max-width: 600px;
}